/* Add CSS Styling */
.odd{
    background-color: #FFCCCB;
}
#second {
    color: blue;
    font-size: 36px;
}
.adjust-font-size {
    font-size: 24px;
}
#fourth {
    background-color: #90EE90;
    font-weight: bold;
}